h2{
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-style: ;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/